@model Proveedores

@{
    ViewData["Title"] = "Delete";
}

<h1>Eliminar Proveedor</h1>

<h3>Esta seguro de eleminar el siguiente proveedor?</h3>
<div>
    <h4>@Model.Nombre</h4>
     
    <dl class="row">
    </dl>
    
    <form asp-action="Delete" method="post">
        <input type="submit" value="Delete" class="btn btn-danger" /> |
        <a asp-action="Mostrar">Retornoar a la lista</a>
    </form>
</div>
